body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

span {
  // display: block;

  //color: white;
}

.navbar {
  //border: 1px solid;
  width: auto;
  height: 60px;
  background: #165b9b;
}

.nav-items {
  display: flex;
  position: relative;
  list-style: none;
  top: 0;
  float: right;
  margin-right: 1rem;
}

.nav-list {
  position: relative;
  font-size: 1.3vw;
  padding: 1.3rem;
  bottom: 1em;
  margin: -0.4%;
  font-weight: 900;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0px;
}

//     For Home......

.home-box {
  //border: 1px solid;
  width: auto;
  height: 50em;
  background-image: url(./image/drop-image.jpg);
  padding-top: 20px;

  .box {
    //border: 1px solid;
    width: 40.15%;
    height: 3.6em;
    margin-top: 17.28rem;
    margin-left: 9rem;

    font-weight: 500;
    font-size: 4.5vw;
  }
}
section {
  border: 1px solid;
  height: 630px;
}
.add-input {
  //border: 1px solid;
  width: 45%;
  margin: 2em;
}
.scrollbar {
  scrollbar-color: blue;
  scroll-snap-align: right;
}

h5 {
  font-size: 25px;
  padding-left: 45px;
}
.input {
  margin-left: 4rem;
  padding: 10px;
  width: 30em;
  border-radius: 5px;
}

.map {
  display: flex;
  position: relative;
  border: 1px solid;
  width: 45%;
  background-image: url("./image/nija.png");
  background-size: cover;
  margin-left: 42rem;
  top: -33rem;
  height: 600px;
}
hr {
  width: 105%;
  border: 1px solid;
}
.pay-options {
  position: relative;
  height: 30px;
  width: 23%;
  padding: 10px;
  //align-items: center;
  //justify-content: center;
  margin-left: 10rem;
  bottom: 1em;

  .pay {
    justify-content: center;
    float: center;
    width: 8%;
    margin-top: -0.2em;
  }

  .Pop {
    position: relative;
    //color: dodgerblue;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    display: inline-block;
    bottom: 0.4em;
    margin: 1px;
  }
  .Pop:hover {
    color: black;
    font-weight: bolder;
  }

  .pay-box {
    position: relative;
    margin: 6px;
    background: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  }
  .pay-box:hover {
    background: lightblue;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  }
}
.btn {
  position: relative;
  padding: 0.8% 7.5%;
  margin-left: 13.5em;
  top: 1em;

  background: #00008b;
  color: whitesmoke;
  border-radius: 0.5em;
  border: transparent;
  cursor: pointer;

  &.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
}
