.header {
  height: 10vh;
  background-color: rgb(45, 92, 155);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
  color: white;

  ul {
    display: flex;
    justify-content: space-between;
    gap: 2.7rem;
    margin-right: 4rem;
    li {
      text-decoration: none;
      list-style-type: none;

      a {
        text-decoration: none;
        font-size: 0.9em;
        color: inherit;
      }
    }
  }
}
.body {
  .hero {
    display: flex;
    justify-content: space-between;
    .hero-left {
      width: 30.0625rem;
      margin: 9.5rem 9rem;
      font-weight: 600;
      font-size: 3.65rem;
      .txt {
        font-weight: 20;
        font-size: 1.4rem;
      }
      button {
        width: 18.1875rem;
        height: 2.9rem;
        padding: 0.625em 1em;
        border-radius: 1em;
        margin-top: 0.9934em;
        background-color: rgb(45, 92, 155);
        border: none;
        color: white;
      }
    }
    .hero-right {
      img {
        width: 37rem;
      }
    }
  }
  .earn {
    background-color: rgb(45, 92, 155);
    color: white;
    height: 12.7rem;
    padding: 3rem 9rem;
    font-size: 3rem;
  }
  .grid-container {
    // height: 100vh;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4.1875rem;
    font-size: 1.4rem;
    margin: 0 0 12rem 0;
    padding: 2.9rem 9rem 0;
    .txt2 {
      font-size: 1rem;
    }
    .grid-item {
      &:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/2;
      }
      &:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &:nth-child(5) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &:nth-child(6) {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
  }
  .play {
    background-color: rgb(45, 92, 155);
    color: white;
    height: 31.5625rem;
    // padding: ;
    .play-flex {
      position: relative;
      display: flex;
      gap: 1rem;
      .play-left {
        padding: 8.4375rem 0 7.6875rem 10.1875rem;

        .download {
          font-size: 3rem;
        }
        .txt3 {
          margin-top: 2rem;
          font-size: 1.5rem;
        }
        .button-flex {
          margin-top: 2rem;
          display: flex;
          gap: 2rem;
          .bb {
            display: flex;
            background-color: rgb(72, 141, 205);
            width: 13.625rem;
            height: 4.8125rem;
            border-radius: 1rem;
            padding: 0.3rem 0.9rem;
            font-size: 1.4rem;
            gap: 0.9rem;
            text-align: left;
            border: none;
            color: white;
            img {
              margin-top: 0.4rem;
              width: 2.7rem;
              height: 3.4rem;
            }
            .fa-brands {
              font-size: 3.8rem;
            }

            .txt2 {
              margin-top: 0.4rem;
              font-size: 1rem;
            }
          }
        }
      }
      .play-right {
        position: relative;
        // height: 100%;
        right: 49rem;

        img {
          // padding-right: 10rem;
          padding-left: 20rem;
          width: 92.28rem;
          height: 31.56rem;
          // height: 30rem;
        }
      }
    }
  }
}

footer {
  margin-top: 13rem;
  background-color: rgb(45, 92, 155);
  height: 20vh;
}
